html {
    display: flex;
}

body {
    display: block;
    margin-top: 10px;
    justify-content: center;
}

#div0 {
    display: inline-block;
    height: 400px;
    width: 400px;
    background-color: aquamarine;
}

#div1 {
    display: inline-block;
    height: 400px;
    width: 400px;
    background-color: aquamarine;
}